@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Inter", sans-serif;
}
.gradient-color {
  background: linear-gradient(
    90deg,
    #F7E93F,
    #FB09B4,
    #9100F8
  );}
/* navbar */
nav{
    display: flex;
    max-width: 1600px;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    background-color: #1A0B2E;
}
.nav-text{
    color: #FFFFFF;
    display: flex;
    text-decoration: none;
    list-style: none;
    align-items: center;
    gap: 32px;
}
    

.tech{
    font-size: 3rem;
    font-weight: bold;
    color: white;
}
.wave{
    font-size: 3rem;
    font-weight: bold;
    background: linear-gradient(to right,#F7E93F, #FB09B4, #9100F8);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
button{
    background: linear-gradient(to right,#F7E93F, #FB09B4, #9100F8);
    color: #FFFFFF;
    border: none;
    border-radius: 10000px;
    font-weight: 600;
    font-size: 16px;
    padding:  12px 25px 12px 16px;

}
nav>span{
    display: none;
}

/* Banner */
.banner{
    width: 100%;
    background: #1A0B2E url(assets/hero-bg.png) no-repeat center center ;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}
.banner-container{
    text-align: center;
    max-width: 1600px;
    height: 760px;
    padding: 101px 625px;
}
.image-wrapper{
    position: relative;
    width: 350px;
    height: 350px;
    /* border: none; */
    border: 8px solid rgba(42, 24, 108, 1);
}
/* .banner-brand{
    margin-bottom: ;
    display: flex;
    justify-content: center;
} */
.circle-img{
    width: 100%;
    display: block;
}
.micro-img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.new-badge{
    position: absolute;
    top: 12px;
    right: 23px; 
    background-color: #00FF88;
    color: #1A0B2E;
    padding: 8px 16px 8px 16px;
    border-radius: 20px;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1px;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5)
}
.banner-title{
    font-size: 3.75rem;
    font-weight: 800;
    margin-top: 40px;
    margin-bottom: 8px;
}
.text-line{
    font-size: 1rem;
    max-width: 550px;
    margin-bottom: 24px;
}

@media screen and (max-width:576px) {
    button, .nav-text{
        display: none;
    }
    nav>span{
    display: inline;}

}

