@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Inter", sans-serif;
}
.gradient-color {
  background: linear-gradient(
    90deg,
    #F7E93F,
    #FB09B4,
    #9100F8
  );}
/* navbar */
nav{
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    background-color: #1A0B2E;
    padding: 16px;
}
.nav-text{
    color: #FFFFFF;
    display: flex;
    text-decoration: none;
    list-style: none;
    align-items: center;
    gap: 32px;
}
    

.tech{
    font-size: 3rem;
    font-weight: bold;
    color: white;
}
.wave{
    font-size: 3rem;
    font-weight: bold;
    background: linear-gradient(to right,#F7E93F, #FB09B4, #9100F8);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

button{
    background: linear-gradient(to right,#F7E93F, #FB09B4, #9100F8);
    color: #FFFFFF;
    border: none;
    border-radius: 10000px;
    font-weight: 600;
    font-size: 16px;
    padding:  12px 25px 12px 16px;
}
nav>span{
    display: none;
}

/* Banner */
.banner{
    width: 100%;
    background: #1A0B2E url(assets/hero-bg.png) no-repeat center center ;
    background-size: cover;
    border-top: 1px solid #351d57;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    min-height: 700px;
}
.banner-container{
    text-align: center;
    max-width: 1600px;
    height: auto;
    padding: 101px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image-wrapper{
    position: relative;
    width: 350px;
    height: 350px;
}
/* .banner-brand{
    margin-bottom: ;
    display: flex;
    justify-content: center;
} */
.circle-img{
    width: 100%;
    display: block;
}
.micro-img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.new-badge{
    position: absolute;
    top: 12px;
    right: 23px; 
    background-color: #00FF88;
    color: #1A0B2E;
    padding: 8px 16px 8px 16px;
    border-radius: 1000px;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1px;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
    animation: floatBadge 3s ease-in-out infinite, glowBadge 2s infinite alternate;
}
@keyframes floatBadge {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-8px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes glowBadge {
    from {
        box-shadow: 0px 3px 15px 0px rgba(0, 255, 136, 0.4);
    }
    to {
        box-shadow: 0px 3px 35px 5px rgba(0, 255, 136, 0.7);
    }
}

.banner-title{
    font-size: 3.75rem;
    font-weight: 800;
    margin-top: 40px;
    margin-bottom: 8px;
}
.text-line{
    font-size: 1rem;
    text-wrap: nowrap;
    width: 100%;
    text-align: center;
    margin-bottom: 24px;
}
.button-group{
    display: flex;
    justify-content: center;
    gap: 8px;
}
.btn {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 20px 12px 20px;
    border-radius: 1000px;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    transition: transform 0.2s ease;
}
.btn:hover {
    transform: translateY(-10px);
}
.btn-gradient{
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));;
    color: #FFFFFF;
}
.btn-outline{
    border: 2px solid #00FF88;
    color: #00FF88;
}
.btn img{
     width: 18px; 
}

/* About Section Styles */

.about-section{
     background-color: rgba(26, 11, 46, 1);
     color: #FFFFFF;
     padding: 50px 200px 120px 200px;
     text-align: center;
}
.about-container {
    max-width: 1600px;
    margin: 0 auto;
}
.section-title{
    font-size: 3rem;
    font-weight: 700;
    font-style: bold;
    margin-bottom: 16px;
}
.about-content p{
       font-size: 1rem;
       line-height: 20px;
       color: var(--#FFFFFF, rgba(255, 255, 255, 1));
        line-height: 2;
       margin-bottom: 8px; 
       max-width: 1200px;
}
.join-text {
    margin-top: 20px;
    font-weight: 500;
}
.divider{
    height: 1px;
    border: 1px solid;
    background: rgba(255, 255, 255, 0.1);
    color: #FFFFFF;
    opacity: 0.1;
    margin: 80px 0;
    width: 100%;
}
.stats-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
}
.stat-number {
    font-size: 3rem;
    font-weight: 900;
    background: linear-gradient(to right, #00FF88, #00DDEB);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-bottom: 10px;
}

.stat-label {
    font-size: 1rem;
    letter-spacing: 0%;
    font-weight: 400;
    color: var(--#FFFFFF, rgba(255, 255, 255, 1));
}
.stat-item:hover {
    transform: translateY(-10px);
}
/* Why-Choose-Section */
.why-section{
    background-color: rgba(35, 14, 61, 1);
    color: #FFFFFF;
    padding: 120px 20px;
    max-width: 1600px;
    margin: 0 auto;
}
 .why-title{
      text-align: center;
      font-size: 3rem;
      font-weight: 700;
      margin-bottom: 40px;
 }
.why-container-grid{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    grid-template-rows: auto;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}
.box{
    background: rgba(53, 17, 101, 0.4);
    padding: 40px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 16px;
    border: 1px solid rgba(53, 17, 101, 0.4);
}
.box:hover {
    transform: translateY(-10px);
}
.long-card {
      grid-row: span 2;
}
.mid-card {
    grid-column: span 2;
}
.box img {
    width: 60px;
    margin-bottom: 16px;
}
.box h5 {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
}

.box p {
    font-size: 1rem;
    line-height: 1.6;
    color: var(--#FFFFFF, rgba(255, 255, 255, 1));
    font-weight: 400;
    line-height: 24px;
   letter-spacing: 0%;
}

/* Episodes-Section */
.episodes-section{
    background: rgba(26, 11, 46, 1);
    color: #FFFFFF;
    padding: 100px 20px;
}
.episodes-container{
    max-width: 1200px;
    margin: 0 auto;
}
.episodes-title{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 40px;
}
.episodes-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.episode-card{
    background: #250D44;
    border-radius: 20px;
    overflow: hidden;
    transition: transform 0.3s ease;
}
.episode-card:hover {
    transform: translateY(-10px);
}
.episode-video-box{
       position: relative;
       width: 100%;
       aspect-ratio: 16 / 9;
       background: #000;
}
.episode-video-box iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.play-overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    pointer-events: none;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
     
}
.episode-info{
    padding: 24px;
}
.episode-info h4{
    font-size: 1.5rem;
    margin-bottom: 12px;
}
.episode-info p{
    font-size: 1rem;
    color: #FFFFFF;
    line-height: 24px;
    margin-bottom: 60px;
}
.episode-footer {
    display: flex;
    align-items: center;
    color: #00FF88;
    font-size: 1rem;
    font-weight: 600;
}

/* Host-Section */
.host-section{
    background: rgba(26, 11, 46, 1);
    color: #FFFFFF;
    padding: 100px 20px;
}
.host-container{
    max-width: 1200px;
    margin: 0 auto;
}
.host-section-title{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 40px;
}
.host-card{
    background: rgba(53, 17, 101, 0.4);
    padding: 40px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    gap: 24px;
}
.host-image img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
.host-content{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.host-content p{
    font-size: 1rem;
    line-height: 1.6;
    color: rgba(255, 255, 255, 0.8);
}
.host-name{
     font-size: 2rem;
     font-weight: 700;
     margin-bottom: 16px;
}
.host-bio{
      font-size: 1rem;
      line-height: 1.6;
      color: rgba(255, 255, 255, 0.7);
      margin-bottom: 16px;
      max-width: 800px;
}
.social-links{
    display: flex;
    gap: 12px;
    margin-top: 10px;

}
.social-links a {
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgb(30, 8, 58);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.3s;
}

 .social-links a img {
    width: 40px;
    height: 20px;
    object-fit: contain;
}
.social-links a:hover {
    transform: scale(1.1);
    background: rgba(255, 255, 255, 0.2);
}
/* Footer-section */
.footer-section{
    width: 100%;
    background-color: rgba(26, 11, 46, 1);
    background-image: url(assets/footer-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-container{
    text-align: center;
    max-width: 1360px;
    max-width: 100%;
}
.footer-logo{
    margin-bottom: 32px;
    display: block;
}
.footer-platforms{
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 32px;
    flex-wrap: wrap;
}
.footer-platforms a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: 0.3s ease; 
}
.footer-platforms a:hover {
    color: #00FF88; 
    transform: translateY(-2px);
}
.footer-platforms img{
    width: 20px;
    height: 20px; 
    object-fit: contain;
}
.copyright-text{
    color: rgba(250, 250, 250, 1);
    font-size: 1rem;
    letter-spacing: 0%;
}









@media screen and (max-width:576px) {
     nav{
        justify-content: space-between;
    }
    button, .nav-text{
        display: none;
    }
    nav>span{
    display: inline;
color: #FFFFFF;}
.tech, .wave {
    display: inline;
        font-size: 1.8rem;}

        .banner {
            width: 100%;
        min-height: 80vh;
        background-attachment: scroll;
        background-position: center 35%;  
        background-size: 180%;
        /* display: flex;
        flex-direction: column; */
    }
        .banner-container {
            max-width: 100%;
             width: 100%;
        padding: 40px 20px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
     .image-wrapper{
        width: 180px;
        height: 180px;
         margin: 0 auto; 
     }
     .micro-img {
        width: 60px;
    }
    .new-badge{
        top: 4px;
        right: 4px;
        padding: 8px 8px;
       text-transform: capitalize; 
       animation: floatBadge 3s ease-in-out infinite, glowBadge 2s infinite alternate;
    }
    .banner-title{
        font-size: 2.5rem;
        margin-top: 24px;
    }
    .text-line{
        text-wrap: wrap;
        padding: 0 10px;
        line-height: 1.4;
}
.button-group {
    display: flex;
    flex-direction: row; 
        /* flex-wrap: nowrap; */
        gap: 8px;
        width: 100%;
    } 

    .btn {
        flex: 1;  
        width: auto;  
        justify-content: center;
    }


     .about-section {
        border: 1px solid #2A186C;
        padding: 60px 20px;
    }

    .section-title {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .about-content p {
        font-size: 0.95rem;
        line-height: 1.5;
        margin-bottom: 15px;
    }

    .divider {
        margin: 40px 0;
    }

    .stats-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);  
        gap: 30px 10px;  
        text-align: center;
    }

    .stat-number {
        font-size: 2rem;  
    }

    .stat-label {
        font-size: 0.75rem;
        letter-spacing: 0.5px;
    }
    
     /* Why-section */
  .why-section{
    padding: 40px 20px;
  }
  .why-title{
    font-size: 1.5rem;
    margin-bottom: 16px;
  }
  .why-container-grid{
    grid-template-columns: 1fr;
    gap: 16px;
  }
  .long-card, .mid-card{
    grid-row: auto;
    grid-column: auto;
  }
  .box{
    padding: 24px;
    border-radius: 24px;
    align-items: flex-start;
  }
  .box h5{
    font-size: 1.4rem;
    line-height: 27px;
  }
  .box p{
    font-size: 1rem;
    line-height: 24px;
  }
  .box img{
    width: 60px;
  }

  /* Episodes-Section */
     .episodes-section {
        padding: 40px 20px;
    }
    .episodes-grid {
        grid-template-columns: 1fr;
        gap: 16px;
    }
    .episodes-title {
        font-size: 2rem;
    }
    /* Host-Section */
    .host-section{
        padding: 40px 20px;
    }
    .host-section-title{
        font-size: 2rem;
        margin: 24px;
    }
    .host-card{
        flex-direction: column;
        padding: 40px 20px;
        text-align: center;
        gap: 16px;
    }
    .host-image img{
        width: 150px;
        height: 150px;
        margin: 0 auto;
    }
    .host-content{
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .host-name{
        font-size: 1.5rem;
        margin-bottom: 16px;
    }
    .host-content p {
          font-size: 1rem;
          line-height: 1.5;
          text-align: center;
          margin-bottom: 16px;
    }
    .social-links {
        justify-content: center;
        width: 100%;
        gap: 18px;
    }
    
    .social-links a {
        width: 40px;
        height: 40px;
    }
    /* Footer-section */
    .footer-section{
         padding: 60px 20px;
         background-size: 160% auto;
    }
    .footer-logo .tech, .footer-logo .wave{
        font-size: 2rem;
    }
    .footer-logo {
        margin-bottom: 20px;
    }

    .footer-platforms{
        display: grid;
        grid-template-columns: repeat(2, max-content);
        gap: 20px 40px;
        justify-content: center;
        align-content: center;
        /* text-align: 40px; */
        margin-bottom: 24px;
    }
     .copyright-text {
        opacity: 0.7;
        padding: 0 15px;
     }
}
  